In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('bank.csv', delimiter=';')   
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [3]:
data.shape

(4521, 17)

In [4]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [6]:
from collections import Counter

In [7]:
Counter(data.job)

Counter({'unemployed': 128,
         'services': 417,
         'management': 969,
         'blue-collar': 946,
         'self-employed': 183,
         'technician': 768,
         'entrepreneur': 168,
         'admin.': 478,
         'student': 84,
         'housemaid': 112,
         'retired': 230,
         'unknown': 38})

In [8]:
data['y'].replace(['yes','no'],[1,0], inplace=True )

In [9]:
Counter(data.y)

Counter({0: 4000, 1: 521})

In [10]:
# get dummies for all categorical data to convert to integer values [job, marital, education, contact, month,poutcome]

In [11]:
job = pd.get_dummies(data['job'], drop_first=True)

In [12]:
job

,blue-collar,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed,unknown
0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
4516,0,0,0,0,0,0,1,0,0,0,0
4517,0,0,0,0,0,1,0,0,0,0,0
4518,0,0,0,0,0,0,0,0,1,0,0
4519,1,0,0,0,0,0,0,0,0,0,0
4520,0,1,0,0,0,0,0,0,0,0,0

In [13]:
data = pd.concat((data,job), axis=1)

In [14]:
marital = pd.get_dummies(data['marital'], drop_first=True)

In [15]:
data = pd.concat((data,marital), axis=1)

In [16]:
education = pd.get_dummies(data['education'], drop_first=True)

In [17]:
data = pd.concat((data,education), axis=1)

In [18]:
contact = pd.get_dummies(data['contact'], drop_first=True)

In [19]:
data = pd.concat((data,contact), axis=1)

In [20]:
month = pd.get_dummies(data['month'], drop_first=True)

In [21]:
data = pd.concat((data,month), axis=1)

In [22]:
poutcome = pd.get_dummies(data['poutcome'], drop_first=True)

In [23]:
data = pd.concat((data,poutcome), axis=1)

In [24]:
data.drop(['job', 'marital', 'education', 'contact', 'month','poutcome'], axis=1, inplace=True)

In [25]:
data.columns

Index(['age', 'default', 'balance', 'housing', 'loan', 'day', 'duration',
       'campaign', 'pdays', 'previous', 'y', 'blue-collar', 'entrepreneur',
       'housemaid', 'management', 'retired', 'self-employed', 'services',
       'student', 'technician', 'unemployed', 'unknown', 'married', 'single',
       'secondary', 'tertiary', 'unknown', 'telephone', 'unknown', 'aug',
       'dec', 'feb', 'jan', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep',
       'other', 'success', 'unknown'],
      dtype='object')

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 43 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            4521 non-null   int64
 1   default        4521 non-null   object
 2   balance        4521 non-null   int64
 3   housing        4521 non-null   object
 4   loan           4521 non-null   object
 5   day            4521 non-null   int64
 6   duration       4521 non-null   int64
 7   campaign       4521 non-null   int64
 8   pdays          4521 non-null   int64
 9   previous       4521 non-null   int64
 10  y              4521 non-null   int64
 11  blue-collar    4521 non-null   uint8
 12  entrepreneur   4521 non-null   uint8
 13  housemaid      4521 non-null   uint8
 14  management     4521 non-null   uint8
 15  retired        4521 non-null   uint8
 16  self-employed  4521 non-null   uint8
 17  services       4521 non-null   uint8
 18  student        4521 non-null   uint8
 19  technician     4521 non-null   uint8
 20  unemployed     4521 non-null   uint8
 21  unknown        4521 non-null   uint8
 22  married        4521 non-null   uint8
 23  single         4521 non-null   uint8
 24  secondary      4521 non-null   uint8
 25  tertiary       4521 non-null   uint8
 26  unknown        4521 non-null   uint8
 27  telephone      4521 non-null   uint8
 28  unknown        4521 non-null   uint8
 29  aug            4521 non-null   uint8
 30  dec            4521 non-null   uint8
 31  feb            4521 non-null   uint8
 32  jan            4521 non-null   uint8
 33  jul            4521 non-null   uint8
 34  jun            4521 non-null   uint8
 35  mar            4521 non-null   uint8
 36  may            4521 non-null   uint8
 37  nov            4521 non-null   uint8
 38  oct            4521 non-null   uint8
 39  sep            4521 non-null   uint8
 40  other          4521 non-null   uint8
 41  success        4521 non-null   uint8
 42  unknown        4521 non-null   uint8
dtypes: int64(8), object(3), uint8(32)
memory usage: 529.9+ KB

In [27]:
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()
data.default = enc.fit_transform(data.default)
data.housing = enc.fit_transform(data.housing)
data.loan = enc.fit_transform(data.loan)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 43 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            4521 non-null   int64
 1   default        4521 non-null   int32
 2   balance        4521 non-null   int64
 3   housing        4521 non-null   int32
 4   loan           4521 non-null   int32
 5   day            4521 non-null   int64
 6   duration       4521 non-null   int64
 7   campaign       4521 non-null   int64
 8   pdays          4521 non-null   int64
 9   previous       4521 non-null   int64
 10  y              4521 non-null   int64
 11  blue-collar    4521 non-null   uint8
 12  entrepreneur   4521 non-null   uint8
 13  housemaid      4521 non-null   uint8
 14  management     4521 non-null   uint8
 15  retired        4521 non-null   uint8
 16  self-employed  4521 non-null   uint8
 17  services       4521 non-null   uint8
 18  student        4521 non-null   uint8
 19  technician     4521 non-null   uint8
 20  unemployed     4521 non-null   uint8
 21  unknown        4521 non-null   uint8
 22  married        4521 non-null   uint8
 23  single         4521 non-null   uint8
 24  secondary      4521 non-null   uint8
 25  tertiary       4521 non-null   uint8
 26  unknown        4521 non-null   uint8
 27  telephone      4521 non-null   uint8
 28  unknown        4521 non-null   uint8
 29  aug            4521 non-null   uint8
 30  dec            4521 non-null   uint8
 31  feb            4521 non-null   uint8
 32  jan            4521 non-null   uint8
 33  jul            4521 non-null   uint8
 34  jun            4521 non-null   uint8
 35  mar            4521 non-null   uint8
 36  may            4521 non-null   uint8
 37  nov            4521 non-null   uint8
 38  oct            4521 non-null   uint8
 39  sep            4521 non-null   uint8
 40  other          4521 non-null   uint8
 41  success        4521 non-null   uint8
 42  unknown        4521 non-null   uint8
dtypes: int32(3), int64(8), uint8(32)
memory usage: 476.9 KB

In [28]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, r2_score, roc_auc_score
from sklearn.model_selection import train_test_split

In [40]:
X = data.iloc[:,:-1]
y = data.y

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 10, test_size=0.3)

In [42]:
model = DecisionTreeClassifier(random_state=10)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
print('accuracy score:', accuracy_score(y_test,y_predict))
print('r2 score:',r2_score(y_test,y_predict))

accuracy score: 1.0
r2 score: 1.0

In [43]:
pd.crosstab(y_test,y_predict)

col_0     0    1
y
0      1206    0
1         0  151

In [44]:
roc_auc_score(y_test,y_predict)

1.0

In [45]:
model = RandomForestClassifier(random_state=10)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
print('accuracy score:', accuracy_score(y_test,y_predict))
print('r2 score:',r2_score(y_test,y_predict))

accuracy score: 1.0
r2 score: 1.0

In [ ]:
# since the data is biased, we need to SMOTE the data

In [54]:
from imblearn.over_sampling import SMOTE

In [56]:
#smote = SMOTE()
#X_train_smote, y_train_smote = smote.fit_sample(X_train.astype('float'),y_train)

In [ ]:
#print(Counter(y_train))
#print(Counter(y_train_smote))

In [ ]:
#X_train_smote.tail()

In [ ]:
#model.fit(X_train_smote,y_train_smote)
y_predict = model.predict(X_test)
print(accuracy_score(y_test, y_predict))
print(Counter(y_train))
pd.crosstab(y_test, y_predict)

In [ ]:
print(roc_auc_score(y_test, y_predict))