In [7]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [8]:
data = pd.read_csv('bank-full.csv', delimiter=';')   
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [9]:
data.shape

(45211, 17)

In [10]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [12]:
from collections import Counter

In [13]:
Counter(data.job)

Counter({'management': 9458,
         'technician': 7597,
         'entrepreneur': 1487,
         'blue-collar': 9732,
         'unknown': 288,
         'retired': 2264,
         'admin.': 5171,
         'services': 4154,
         'self-employed': 1579,
         'unemployed': 1303,
         'housemaid': 1240,
         'student': 938})

In [14]:
data['y'].replace(['yes','no'],[1,0], inplace=True )

In [15]:
Counter(data.y)

Counter({0: 39922, 1: 5289})

In [16]:
# get dummies for all categorical data to convert to integer values [job, marital, education, contact, month,poutcome]

In [17]:
job = pd.get_dummies(data['job'], drop_first=True)

In [18]:
job

,blue-collar,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed,unknown
0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0
2,0,1,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
45206,0,0,0,0,0,0,0,0,1,0,0
45207,0,0,0,0,1,0,0,0,0,0,0
45208,0,0,0,0,1,0,0,0,0,0,0
45209,1,0,0,0,0,0,0,0,0,0,0
45210,0,1,0,0,0,0,0,0,0,0,0

In [19]:
data = pd.concat((data,job), axis=1)

In [20]:
marital = pd.get_dummies(data['marital'], drop_first=True)

In [21]:
data = pd.concat((data,marital), axis=1)

In [22]:
education = pd.get_dummies(data['education'], drop_first=True)

In [23]:
data = pd.concat((data,education), axis=1)

In [24]:
contact = pd.get_dummies(data['contact'], drop_first=True)

In [25]:
data = pd.concat((data,contact), axis=1)

In [26]:
month = pd.get_dummies(data['month'], drop_first=True)

In [27]:
data = pd.concat((data,month), axis=1)

In [28]:
poutcome = pd.get_dummies(data['poutcome'], drop_first=True)

In [29]:
data = pd.concat((data,poutcome), axis=1)

In [30]:
data.drop(['job', 'marital', 'education', 'contact', 'month','poutcome'], axis=1, inplace=True)

In [31]:
data.columns

Index(['age', 'default', 'balance', 'housing', 'loan', 'day', 'duration',
       'campaign', 'pdays', 'previous', 'y', 'blue-collar', 'entrepreneur',
       'housemaid', 'management', 'retired', 'self-employed', 'services',
       'student', 'technician', 'unemployed', 'unknown', 'married', 'single',
       'secondary', 'tertiary', 'unknown', 'telephone', 'unknown', 'aug',
       'dec', 'feb', 'jan', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep',
       'other', 'success', 'unknown'],
      dtype='object')

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 43 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            45211 non-null  int64
 1   default        45211 non-null  object
 2   balance        45211 non-null  int64
 3   housing        45211 non-null  object
 4   loan           45211 non-null  object
 5   day            45211 non-null  int64
 6   duration       45211 non-null  int64
 7   campaign       45211 non-null  int64
 8   pdays          45211 non-null  int64
 9   previous       45211 non-null  int64
 10  y              45211 non-null  int64
 11  blue-collar    45211 non-null  uint8
 12  entrepreneur   45211 non-null  uint8
 13  housemaid      45211 non-null  uint8
 14  management     45211 non-null  uint8
 15  retired        45211 non-null  uint8
 16  self-employed  45211 non-null  uint8
 17  services       45211 non-null  uint8
 18  student        45211 non-null  uint8
 19  technician     45211 non-null  uint8
 20  unemployed     45211 non-null  uint8
 21  unknown        45211 non-null  uint8
 22  married        45211 non-null  uint8
 23  single         45211 non-null  uint8
 24  secondary      45211 non-null  uint8
 25  tertiary       45211 non-null  uint8
 26  unknown        45211 non-null  uint8
 27  telephone      45211 non-null  uint8
 28  unknown        45211 non-null  uint8
 29  aug            45211 non-null  uint8
 30  dec            45211 non-null  uint8
 31  feb            45211 non-null  uint8
 32  jan            45211 non-null  uint8
 33  jul            45211 non-null  uint8
 34  jun            45211 non-null  uint8
 35  mar            45211 non-null  uint8
 36  may            45211 non-null  uint8
 37  nov            45211 non-null  uint8
 38  oct            45211 non-null  uint8
 39  sep            45211 non-null  uint8
 40  other          45211 non-null  uint8
 41  success        45211 non-null  uint8
 42  unknown        45211 non-null  uint8
dtypes: int64(8), object(3), uint8(32)
memory usage: 5.2+ MB

In [33]:
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()
data.default = enc.fit_transform(data.default)
data.housing = enc.fit_transform(data.housing)
data.loan = enc.fit_transform(data.loan)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 43 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            45211 non-null  int64
 1   default        45211 non-null  int32
 2   balance        45211 non-null  int64
 3   housing        45211 non-null  int32
 4   loan           45211 non-null  int32
 5   day            45211 non-null  int64
 6   duration       45211 non-null  int64
 7   campaign       45211 non-null  int64
 8   pdays          45211 non-null  int64
 9   previous       45211 non-null  int64
 10  y              45211 non-null  int64
 11  blue-collar    45211 non-null  uint8
 12  entrepreneur   45211 non-null  uint8
 13  housemaid      45211 non-null  uint8
 14  management     45211 non-null  uint8
 15  retired        45211 non-null  uint8
 16  self-employed  45211 non-null  uint8
 17  services       45211 non-null  uint8
 18  student        45211 non-null  uint8
 19  technician     45211 non-null  uint8
 20  unemployed     45211 non-null  uint8
 21  unknown        45211 non-null  uint8
 22  married        45211 non-null  uint8
 23  single         45211 non-null  uint8
 24  secondary      45211 non-null  uint8
 25  tertiary       45211 non-null  uint8
 26  unknown        45211 non-null  uint8
 27  telephone      45211 non-null  uint8
 28  unknown        45211 non-null  uint8
 29  aug            45211 non-null  uint8
 30  dec            45211 non-null  uint8
 31  feb            45211 non-null  uint8
 32  jan            45211 non-null  uint8
 33  jul            45211 non-null  uint8
 34  jun            45211 non-null  uint8
 35  mar            45211 non-null  uint8
 36  may            45211 non-null  uint8
 37  nov            45211 non-null  uint8
 38  oct            45211 non-null  uint8
 39  sep            45211 non-null  uint8
 40  other          45211 non-null  uint8
 41  success        45211 non-null  uint8
 42  unknown        45211 non-null  uint8
dtypes: int32(3), int64(8), uint8(32)
memory usage: 4.7 MB

In [34]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, r2_score, roc_auc_score
from sklearn.model_selection import train_test_split

In [35]:
X = data.iloc[:,:-1]
y = data.y

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 10, test_size=0.3)

In [37]:
model = DecisionTreeClassifier(random_state=10)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
print('accuracy score:', accuracy_score(y_test,y_predict))
print('r2 score:',r2_score(y_test,y_predict))

accuracy score: 1.0
r2 score: 1.0

In [38]:
pd.crosstab(y_test,y_predict)

col_0      0     1
y
0      12006     0
1          0  1558

In [39]:
roc_auc_score(y_test,y_predict)

1.0

In [40]:
model = RandomForestClassifier(random_state=10)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
print('accuracy score:', accuracy_score(y_test,y_predict))
print('r2 score:',r2_score(y_test,y_predict))

accuracy score: 1.0
r2 score: 1.0